<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>weibo</title>
        <style>
        </style>
    </head>
    <body>
        <input id='id-input-weibo'>
        <br>
        <button id='id-button-add'>发表新微博</button>
        <br>
        <br>
        <div id="id-weibo-list">
        </div>
        <!-- ajax.js 含公共函数 -->
        <!-- 按顺序引入 2 个 js 文件, 以使后面的 js 文件能够使用前面的文件中的函数 -->
        <script src='/static?file=ajax.js'></script>
        <script src='/static?file=weibo.js'></script>
    </body>
</html>
